includes:
  - ./vendor/premierstacks/phpstan-stack/src/configs/recommended.neon

parameters:
  paths:
    - ./app
    - ./bootstrap/app.php
    - ./bootstrap/providers.php
    - ./config
    - ./database
    - ./lang
    - ./public/index.php
    - ./resources
    - ./routes
    - ./tests
